body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Navbar.css */
/* Navbar.css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  /* padd */
  padding-right: 50px;
}

nav img {
  height: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #ffcc00;
}

nav .fa-search {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Headers.css */
.header-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.header-text {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.posterimage {
  background-size: 'cover';
  /* ba */
  background-position: 'center';
  height: '200px';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  color: 'white'
}