body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Navbar.css */
/* Navbar.css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  padding: 20px;
  padding-right: 90px;
}

nav img {
  height: 60px;
  margin-left: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

nav ul li:hover {
  /* text-decoration: underline; */
  color: rgb(79, 128, 213);
}

nav .fa-search {
  color: rgb(79, 128, 213);
  font-size: 20px;
  cursor: pointer;
}

/* Headers.css */
.header-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.header-text {
  text-align: center;
  font-size: 18px;
  color: #333;
  transform: rotate(180deg);
  /* Upside down text */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Transition for opacity and transform */
}

/* index.css or Headers.css */
.contentbody {
  width: 100vw;
  height: 620px;
  /* display: flex; */
  /* overflow-x: auto; */
  /* scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none; */
  position: relative;
  overflow: hidden;
}

.posterimage {
  flex-shrink: 0;
  width: 100vw;
  height: 620px;
  /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 30px;
  /* Adjust the font size as needed */
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.posterimage.active{
  opacity: 1;
}

.headerText {
  width: 30%;
  /* height: 20%; */
  /* background-color: red; */
  text-align: left;
  margin-left: 7%;
  font-weight: 500;
  transform: translateX(-50%);
  transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
}
.headerText.slide-in{
  transform: translateY(0);
  opacity: 1;
}
.headerText.slide-out{
  transform: translateY(100%);
  opacity: 0;
}
.dots {
  position: absolute; /* Position dots absolutely */
  bottom: 20px; /* Position above the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: flex; /* Use flexbox for alignment */
}

.dot {
  height: 8px; /* Height of the dot */
  width: 8px; /* Width of the dot */
  margin: 0 5px; /* Space between dots */
  background-color: #bbb; /* Default color for inactive dots */
  border-radius: 50%; /* Make dots circular */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth transition for color change */
}

.dot.active {
  background-color: #717171; /* Color for the active dot */
}